<h1>Browse the ShintoCoin</h1>
<p>Here you can browse all shintocoin transactions</p>
<div style="width:400px;border: 1px solid black;text-align: center">
    <div>ShintoCoin Ledger</div>
    <hr>
    <table style="width:400px">
        <thead>
            <tr>
                <th style="text-align:center;width: 25%;">Action</th>
                <th style="text-align:center;width: 25%;">Amount</th>
                <th style="text-align:center;width: 25%;">Value</th>
                <th style="text-align:center;width: 25%;">Detail</th>

            </tr>
        </thead>
        <tbody *ngFor='let x of recode'>
            <tr>
                <td> {{x.action}} </td>
                <td> {{x.amount}} </td>
                <td> {{x.value}} </td>
                <td> <button [routerLink]="['/tranction/'+x.id]">Details</button> </td>
            </tr>
        </tbody>
    </table>
</div>